body{
    background-image: linear-gradient(rgb(51, 0, 51),purple ,rgb(51, 0, 51));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#messageContainer{
    display: flex;
    justify-self: center;
    justify-content: center;
}
#prolog{
    text-align: center;
    color: white;
    font-family: 'playpen Sans thai';
    font-size: 25px;
    margin: 25px;
}
#gameContainer{
    display: grid;
    justify-self: center;
}
#inputContainer{
    opacity: 0;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    align-items: center;
    height: 200px;
    width: 600px;
    border: solid 1px black;
    border: none;
    transition: all 2s ease;
}
#inputContainer:hover{
    opacity: 1;
}
    

#pleaseEnterName{
    font-size: 25px;
    font-family:'playpen Sans thai' ;
    margin-bottom: 6px;
    color: white;
}
#inputName{
    background-color: transparent;
    font-size: 50px;
    width: 200px;
    height: 60px;
    font-family: 'fleur de leah';
    border: none;
    color: white
    
}
#inputName:focus{
    border: none;
    outline: none;
}